@import url('https://fonts.googleapis.com/css?family=Raleway');


* {
    margin: 0;
    padding: 0;
}

/* ////////////////////// */
/* SIGN UP & WELCOME PAGE */
/* ////////////////////// */

nav {
    background-color: #D77A61!important;
}

#signUpPage {
    min-height: 100vh;
    background-color: #223843;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#signUp {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#registrationForm {
    width: 40%;
    margin: 10% auto;
    font-family: 'Raleway', sans-serif;
    background-color: #EFF1F3!important;
}

.uk-margin legend {
    font-size: 1.25em!important;
    font-weight: 600!important;
    margin: 0 0 5px 0!important;
}

.uk-margin button {
    width: 100%;
}

/* ///// */
/* OTHER */
/* ///// */

::-webkit-scrollbar {
    display: none;
}
